.castList {
  padding-left: 30px;
  padding-right: 30px;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  flex-direction: row;
}

.castItem {
  &:not(:last-child) {
    margin-right: 10px;
  }
}
